name: ml-demo
channels:
  - conda-forge
dependencies:
  - python=3.9
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - ipywidgets=8.1.1  
  - ipython=7.16.1
  - jupyterlab=3.6.3  
  - voila>=0.3.0
  - pip
